$primary-color: #514a7e;
$gray-color: #a8b4bf;
$black-color: #0f1016;
$blue-color: #006bff;
$lightblue-color: #f6fbff;
$overblue-color: #cce2ff;

@mixin hover-effect-outlined {
  transition: all 0.3s ease;
  &:hover {
    // Styles for the hover effect
    background-color: $blue-color;
    color: #ffffff;
  }
}

@mixin hover-effect-filled {
  transition: all 0.3s ease;
  &:hover {
    // Styles for the hover effect
    background-color: #fff;
    color: $blue-color;
  }
}
