.dialog {
  position: relative;
  .decorator {
    position: absolute;
    z-index: -1;
    &__1 {
      bottom: 0;
      left: 0;
    }
  }
  padding-top: 120px;
  &-question {
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-bottom: 18px;
    padding: 18px;
    border-radius: 4px;
    border: 1px solid $blue-color;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: $black-color;
      margin-bottom: 14px;
    }
    &__profile {
      display: flex;
      align-items: center;
      gap: 7px;
      img {
        border-radius: 4px;
        width: 22px;
        height: 22px;
        object-fit: cover;
      }
      p {
        font-size: 13px;
        font-weight: 500;
        line-height: 130%;
        color: $gray-color;
      }
    }
  }
  &-answer {
    position: relative;
    .decorator {
      position: absolute;
      z-index: -1;

      &__1 {
        left: -300px;
      }
      &__2 {
        top: -30px;
        left: -120px;
        z-index: -1;
      }
      &__3 {
        bottom: 0;
        right: -250px;
      }
    }
    margin-bottom: 18px;
    padding: 18px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    background-color: $lightblue-color;
    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: $black-color;
      margin-bottom: 14px;
    }
    &__profile {
      display: flex;
      align-items: center;
      gap: 7px;
      img {
        border-radius: 4px;
        width: 22px;
        height: 22px;
        object-fit: cover;
      }
      p {
        font-size: 13px;
        font-weight: 500;
        line-height: 130%;
        color: $gray-color;
      }
    }
  }
  &-btn {
    margin: 0 auto;
    width: 285px;
    height: 52px;
  }
}
