.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  &-wrapper {
    background-color: $lightblue-color;
    border-radius: 4px;
    padding: 48px;
    height: 173px;
    padding-bottom: 20px;
  }
  &-logo {
    p {
      margin-top: 20px;
    }
  }
  &-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__link {
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-btn {
    &__link {
      width: 183px;
      height: 48px;
      margin: 0 auto;
    }
  }
}
