.hello {
  padding-top: 30px;
  .nav {
    align-items: center;
    &-list {
      color: $gray-color;
      list-style: none;
      display: flex;
      font-size: 16px;
      font-weight: 600;
      gap: 24px;
    }
    &-auth {
      display: flex;
      list-style: none;
      &__item {
        font-size: 16px;
        font-weight: 600;
        &_login {
          display: flex;
          gap: 8px;
          color: $black-color;
        }
      }
    }
  }
  .hero {
    padding-top: 90px;
    h1 {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 800;
      font-size: 54px;
      color: $black-color;
      line-height: 100%;
      margin-bottom: 33px;
    }
    p {
      font-size: 16px;
      color: $black-color;
      font-weight: 400;
      margin-bottom: 38px;
    }
  }
  .adv {
    padding-top: 45px;
    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      &__icon {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue-color;
        border-radius: 2px;
      }
    }
  }
}
