.ourservices {
  padding-top: 65px;
  .service {
    &__title {
      margin-top: 60px;
      margin-bottom: 32px;
      text-align: center;
      color: $black-color;
      font-size: 31px;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      &_center {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 309px 309px;
        column-gap: 20px;
        justify-content: center;
      }
    }
    &-item {
      background-color: $lightblue-color;
      padding: 18px;
      &__title {
        font-size: 18px;
        font-weight: 600;
        color: $black-color;
        margin-bottom: 10px;
      }
      &__descr {
        font-size: 16px;
        font-weight: 400;
        color: $black-color;
        line-height: 140%;
      }
      &__img {
        width: 44px;
        height: 44px;
        background-color: $overblue-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
      }
    }
  }
}
