.ourservices {
  padding-top: 65px;
  .service {
    position: relative;
    .decorator {
      position: absolute;
      z-index: -1;
      &__1 {
        left: -55px;
        top: 0;
      }
      &__2 {
        right: 220px;
        top: 46px;
      }
      &__3 {
        right: -18px;
        top: 35px;
      }
      &__4 {
        left: 300px;
        top: 48px;
      }
      &__5 {
        right: -80px;
        bottom: -30px;
      }
      &__6 {
        left: 236px;
        bottom: -35px;
      }
      &__7 {
        left: 220px;
        top: 200px;
      }
    }
    &__title {
      margin-top: 60px;
      margin-bottom: 32px;
      text-align: center;
      color: $black-color;
      font-size: 31px;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      &_center {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 264px 264px;
        column-gap: 20px;
        justify-content: center;
      }
    }
    &-item {
      background-color: $lightblue-color;
      padding: 18px;
      &__title {
        font-size: 18px;
        font-weight: 600;
        color: $black-color;
        margin-bottom: 10px;
      }
      &__descr {
        font-size: 16px;
        font-weight: 400;
        color: $black-color;
        line-height: 140%;
      }
      &__img {
        width: 44px;
        height: 44px;
        background-color: $overblue-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
      }
    }
  }
}
